// sidebar
$menuText:#000000;
$menuActiveText:#105bd8;
$subMenuActiveText:#105bd8; //https://github.com/ElemeFE/element/issues/12951

$menuBg:#FFFFFF;
$menuHover:#4a4a4a;

$subMenuBg:#FFFFFF;
$subMenuHover:#FFFFFF;

$sideBarWidth: 200px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
